.successContainer{
    background-color: $mainColor;
    padding: 200px 100px;
    display: flex;
    justify-content: space-evenly;
}
.successLeft {
    color: $whiteText;
}
.successLeft h3{
    font-size: 48px;
    margin-bottom: 30px;
}
.successLeft p{
    width: 500px;
    margin-bottom: 30px;

}
.getStarted{
    width: 270px;
    height: 60px;
    border-radius: 30px;
    background-color: $secondaryColor;
    color: $whiteText;
    font-size: 24px;
    outline: none;
    border: none;
}
@media all and (max-width: 840px){
    .successContainer{
        flex-wrap: wrap;
        gap: 30px;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 20px;
    }
    .successLeft{
        padding: 0 10px;
    }
    .successLeft p{
        width: auto;
    }
}

@media all and (max-width: 280px){
    .successContainer{
        padding: 10px;
    }
    .successRight img{
        width: 100%;
    }
}